{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div id="home">
  <h1>Optimize Your Productivity</h1>
  <h3>Your Online Notes App</h3>
  <p>Never miss an idea again-capture your thoughts on the go.</p>
  <p>Effortless organization and robust security for your valuable notes.</p>
  <p>Start your journey to a clutter-free mind today.</p>
  <ul>
    <li><i class="las la-cloud"></i><p>Remote Access</p></li>
    <li><i class="las la-lock"></i><p>Secured</p></li>
    <li><i class="las la-search"></i><p>Quick Search</p></li>
    <li><i class="las la-mobile"></i><p>Mobile Access</p></li>
    <li><i class="las la-clock"></i><p>Time Saving</p></li>
  </ul>
</div>
{% endblock %}