{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div id="home">
  <h1>Online Notes App</h1>
  <p>Take your notes with you wherever you go.</p>
  <p>Easy to use. Protect and organize your notes!</p>
  <!-- <button title="Signup" class="btn signup signup-color" type="button">Sign up, it's free</button> -->
  <a 
    href="#" 
    class="btn signup signup-color"
    data-bs-toggle="modal"
    data-bs-target="#signup">Sign up, it's free</a>
</div>
{% include "signup.html" %}
{% endblock %}