{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class=" col-offset-3 col-sm-12 col-md-6">
    {% include "_errors.html" %}
    <h2>Profile Details</h2>
    <div class="table-responsive">
      <table class="table table-hover table-condensed table-bordered">
        <tr data-bs-toggle="modal" data-bs-target="#username">
          <td>Username</td>
          <td>{{ user.username }}</td>
        </tr>
        <tr data-bs-toggle="modal" data-bs-target="#email">
          <td>Email Address</td>
          <td>{{ user.email }}</td>
        </tr>
        <tr data-bs-toggle="modal" data-bs-target="#password">
          <td>Password</td>
          <td>**************</td>
        </tr>
      </table>
    </div>
    <!--Username Modal-->
<div class="modal fade" id="username" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
  <div class="modal-header text-bg-light">
    <h5 class="modal-title">Edit Username</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body p-0">
    <form action="/reset_username" method="POST">
      <div class="form-group">
        <label for="u_name"></label>
        <input type="name" name="reset_name" class="form-control" id="u_name" placeholder="Username">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-sm signup-color">Submit</button>
        <a href="#" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" aria-label="Close">
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>
</div>
</div>
<!--Username modal-->

<!--Email Address Modal-->
<div class="modal fade" id="email" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
  <div class="modal-header text-bg-light">
    <h5 class="modal-title">Edit Email Address</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body p-0">
    <form action="/reset_email" method="POST">
      <div class="form-group">
        <label for="u_email"></label>
        <input type="email" name="reset_email" class="form-control" id="u_email" placeholder="Email Address">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-sm signup-color">Submit</button>
        <a href="#" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" aria-label="Close">
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>
</div>
</div>
<!--Email address modal-->

<!--Password Modal-->
<div class="modal fade" id="password" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
  <div class="modal-header text-bg-light">
    <h5 class="modal-title">Change Password</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body p-0">
    <form action="/reset_password" method="POST">
      <div class="form-group">
        <label for="u_pass"></label>
        <input type="password" name="current_pass" class="form-control" id="u_pass" placeholder="Currrent Password">
      </div>
      <div class="form-group">
        <label for="your_pass"></label>
        <input type="password" name="new_pass1" class="form-control" id="your_pass" placeholder="Choose New Password">
      </div>
      <div class="form-group">
        <label for="u_pass_conf"></label>
        <input type="password" name="new_pass2" class="form-control" id="u_pass_conf" placeholder="Confirm New Password">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-sm signup-color">Submit</button>
        <a href="#" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" aria-label="Close">
          Cancel
        </a>
      </div>
    </form>
  </div>
</div>
</div>
</div>
<!--Password modal-->
  </div>
</div>
{% endblock %}