{% extends "base.html" %}
{% block title %}Sign_up{% endblock %}

{% block content %}

<div id="sign_up">
  
  <h1>Online Notes App</h1>
  <p>Signup to start using the Notes App.</p>
  <p>Easy to use. Protect and organize your notes!</p>
  <div class="row justify-content-center">
    <div class="col-md-6">
       <!-- Success or Error Messages display -->
      {% include "_errors.html" %}
    </div>
  </div>
  <a 
    href="#" 
    class="btn signup signup-color"
    data-bs-toggle="modal"
    data-bs-target="#signup">Sign up, it's free</a>
</div>

<!--Signup Modal-->
<div class="modal fade" id="signup" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-bg-light">
        <h5 class="modal-title">Signup and Start Using Our Online Notes App</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-0">
        <!-- Success or Error Messages display -->
        {% include "_errors.html" %}
        <!-- Signup form -->
        <form id="signupForm" method="POST" action="/sign_up">
          <div class="form-group">
            <label for="u_name"></label>
            <input type="text"  class="form-control" id="u_name" name="username" placeholder="Username" autofocus>
          </div>
          <div class="form-group">
            <label for="u_email"></label>
            <input type="email" class="form-control" id="u_email" name="email" placeholder="Email Address">
          </div>
          <div class="form-group">
            <label for="u_pass"></label>
            <input type="password" class="form-control" id="u_pass" name="password1" placeholder="Choose Password">
          </div>
          <div class="form-group">
            <label for="u_pass_conf"></label>
            <input type="password" class="form-control" id="u_pass_conf" name="password2" placeholder="Confirm Password"> 
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-sm signup-color">Sign up</button> 
            <a href="#" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  <!--Signup Modal-->
  {% endblock %}
