html {
  position: relative;
  min-height: 100%;
}

body {
  background: url(images/coffee-2425254_1280.jpg) no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  margin-top: 100px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}
/* Home page styling */
#home ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  margin-top: 50px;
}
#home ul li i {
  margin-right: 20px;
  font-size: 40px;
  background-color: rgb(148, 195, 209);
  border-radius: 50%;
  margin-top: 10px;
}
/* contact page styling */
#contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

#sign_up {
  justify-content: center;
  margin-left: auto;
}
.signup {
  margin-top: 50px;
}

.signup-color {
  background-color: rgba(117, 216, 241, 0.6);
}

.signup-color:hover {
  background-color: rgba(117, 216, 241, 1);
}

/* login styling */
.login {
  text-align: center;
}

/* footer styling */
.footer {
  color: #fff;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px;
  padding: 10px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  margin: 0;
}
/* form styling */
form {
  margin: 10px;
}
.form-group {
  display: flex;
  height: 50px;
  align-items: center;
} 
.remember-forgot {
  display: flex;
  justify-content: end;
}

/* My Notes Styling */
.textarea {
  background: rgb(148, 195, 209);
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  border: 2px solid rgb(108, 86, 190);
  border-left: 20px solid rgb(108, 86, 190);
  color: rgb(37, 9, 139);
}

.container {
  margin-top: 150px;
  text-align: center;
}
.buttons {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}
#all_notes, #done, .note, .delEditBtn {
  display: none;
}

.show-note {
  display: block;
}
.list-group-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0 ;
}
.note_info {
  min-width: 70%;
  margin-right: 10px;
  font-size: 14px;
}
 
#edit_note {
  background: #d8ee5e;
  margin-right: 10px;
  height: 40px;
}
#delete_Note {
  padding: 0 8px;
  height: 40px;
}
.list-group-item {
  border: 1px solid gray;
  background-color: rgb(148, 195, 209);
  color: #211f1f;
  text-align: start;
  margin-bottom: 10px;
  padding: 0 10px;
  cursor: pointer;
  display: block;
  min-width: 100%;
}
/* .note_delete {
  width: 30%;
  display: inline-flex;
  text-align: start;
  padding-top: 0;
} */

.data {
  max-width: 100%;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
} 


/* Profile Styling */

.table-responsive {
  text-align: start;
}
tr {
  cursor: pointer;
}

/* Alert Messages */
.alert {
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: 16px 10px
}

.Close {
  border: none;
  background: transparent;
}

/* Navbar Styling */
.navbar-custom, .footer {
  background-color: #3e6770;
  border-color: #32535b;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#508591), to(#3e6770));
  background-image: -webkit-linear-gradient(top, #508591, 0%, #3e6770, 100%);
  background-image: -moz-linear-gradient(top, #508591 0%, #3e6770 100%);
  background-image: linear-gradient(to bottom, #508591 0%, #3e6770 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff508591', endColorstr='#ff3e6770', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
/* .navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #32535b;
} */
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  /* border-left: 1px solid #32535b; */
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #211f1f;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #211f1f;
  background-color: #32535b;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#32535b), to(#44727b));
  background-image: -webkit-linear-gradient(top, #32535b, 0%, #44727b, 100%);
  background-image: -moz-linear-gradient(top, #32535b 0%, #44727b 100%);
  background-image: linear-gradient(to bottom, #32535b 0%, #44727b 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff32535b', endColorstr='#ff44727b', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #315259;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #211f1f;
  border-bottom-color: #211f1f;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #32535b;
  color: #211f1f;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #211f1f;
  border-bottom-color: #211f1f;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #211f1f;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #211f1f;
    background-color: #32535b;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #211f1f;
}